header {
    width: 100%;
    height: 70px;
    background-color: #34495e;
    color: #ffffff;
}

main {
    width: 85%;
    height: 100vh;
    margin: 0 auto;
    overflow-y: auto;
}


footer {
    width: 100%;
    height: 30px;
    text-align: center;
    border-top: 1px solid rgba(0, 0, 0, .2);
    padding: 5px 0;
}

@media screen and (max-width: 600px) {
    main {
        margin: 0;
        width: 100%;
    }
}